.data-table {
  margin-bottom: 0;
  border-radius: 0.5rem;

  .last {
    text-align: right;
    justify-content: flex-end;
    white-space: nowrap;
  }

  tr {
    position: relative;
  }

  thead th {
    border-bottom-width: 1px;
    background-color: $body-bg;
    vertical-align: middle;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    font-weight: 600;
    font-size: 0.625rem;
    color: $muted;
  }

  tbody th,
  tbody td {
    vertical-align: middle;
    font-size: 0.8125rem;
  }

  tbody > tr:last-child {
    border-bottom: none;
  }

  tr > th:last-child {
    padding-right: $spacer;
  }

  @include media-breakpoint-down(md) {
    thead {
      display: none;
    }

    .action-view,
    .action-edit {
      position: absolute;
      top: $spacer / 2;
      right: $spacer / 2;
    }

    .action-edit {
      top: 40px;
    }

    tbody tr {
      display: block;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      border-bottom: 1px solid $border-color;
    }

    tbody th {
      display: none;
    }

    tbody td {
      display: block;
      margin-bottom: 0.5rem;
      padding-top: 0;
      padding-bottom: 0;
      border: none;
      text-align: left !important;
    }

    tbody td strong {
      height: auto !important;
      line-height: 1 !important;
    }
  }
}
