//
// Transition Property
// Utilities for controlling which CSS properties transition.
//

.transition-base {
  transition: $transition-base;
}

.transition-fade {
  transition: $transition-fade;
}

.transition-collapse {
  transition: $transition-collapse;
}
