::selection {
  background-color: $black;
  color: $primary;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: $body-bg;
}

::-webkit-scrollbar-thumb {
  background: $gray-500;
  border-radius: 0;
}

::-webkit-scrollbar-thumb:hover {
  background: $gray-300;
}

html,
body,
#app {
  width: 100%;
  min-height: 100vh;
}

body,
html {
  position: relative;
  left: 0;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  scroll-behavior: smooth;
  word-wrap: break-word;
  font-kerning: normal;
  -webkit-font-smoothing: auto;
  touch-action: manipulation;
}

img,
video,
iframe,
figure,
canvas {
  @extend .img-fluid;
}

a {
  transition: $transition-base;
}

pre {
  font-size: $small-font-size;
  white-space: break-spaces !important;
}

.page-enter-active,
.page-leave-active {
  transition: $transition-fade;
}

.page-enter,
.page-leave-active {
  opacity: 0;
}
