@mixin full-height() {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);

  @include media-breakpoint-down(md) {
    height: calc((var(--vh, 1vh) * 100) - #{$banner-mobile-height});
  }
}

@mixin full-min-height() {
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);

  @include media-breakpoint-down(md) {
    min-height: calc((var(--vh, 1vh) * 100) - #{$banner-mobile-height});
  }
}

@mixin flex-center() {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin full-screen($position: 'absolute') {
  position: #{$position};
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@mixin anchor-text() {
  a {
    color: $body-color;
    text-decoration: none;

    &:hover,
    &:focus {
      color: $primary;
    }
  }
}

// http://andyshora.com/css-image-container-padding-hack.html
// https://css-tricks.com/snippets/sass/maintain-aspect-ratio-mixin/
@mixin aspect-ratio($width, $height) {
  position: relative;

  &::before {
    display: block;
    width: 100%;
    padding-top: ($height / $width) * 100%;
    content: '';
  }

  > .content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

@mixin loader() {
  &::before {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 1em;
    height: 1em;
    margin-top: -0.5em;
    margin-left: -0.5em;
    background: url('./images/icons/loader.svg') center center;
    background-size: cover;
    color: rgba(#000, 0.75);
    content: '';
    text-align: center;
    font-size: 2em;
    line-height: 1;
    animation: spin 1s ease-in-out infinite;
  }
}

@mixin scroll() {
  overflow-y: auto;
  height: 100%;
  -webkit-overflow-scrolling: touch;
}
