@media print {
  body {
    background-color: #fff !important;
  }

  #app-toolbar,
  #app-header,
  #app-bar,
  #app-footer,
  #app-left,
  #app-right {
    display: none !important;
  }

  #app-layout #app-content {
    margin: 0 !important;
    padding: 0 !important;
    width: 100% !important;
  }

  .border {
    border: none !important;
  }

  .inner {
    padding: 0 !important;
  }

  .bg-light {
    background-color: white !important;
  }

  .hidden-print,
  .btn {
    display: none !important;
  }

  .box {
    padding: 0 !important;
    border: none !important;
  }
}
