//
// Variables
// https://github.com/twbs/bootstrap/blob/master/scss/_variables.scss

// Options
//
// Quickly modify global styling by enabling or disabling optional features.

$enable-caret: false;
$enable-rounded: true;
$enable-shadows: true;
$enable-gradients: false;
$enable-transitions: false;
$enable-reduced-motion: true;
$enable-grid-classes: true;
$enable-button-pointers: true;
$enable-rfs: true;
$enable-validation-icons: false;
$enable-negative-margins: false;
$enable-deprecation-messages: true;
$enable-important-utilities: false;

//
// Breakpoints
//

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
);

//
// Color system
//

$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;

$white: #fffefe;
$black: #0d2538;
$dark: #0d2538;
$light: $gray-600;

$muted: $light;

// @gray: #95AAC9;
// @gray-dark: #3B506C;
// @primary: #2C7BE5;
// @secondary: #6E84A3;

$blue: #0168fa;
$indigo: #727cf5;
$purple: #6b5eae;
$pink: #ff679b;
$red: #f83245;
$orange: #fd7e14;
$yellow: #f4772e;
$green: #1bc943;
$teal: #02a8b5;
$cyan: #11c5db;

$primary: #0d7dd9;
$secondary: #f2f6fa;
$success: $green;
$info: $cyan;
$warning: $yellow;
$danger: $red;
$light: $gray-100;
$dark: $gray-800;

//
// Common & Font
//

$spacer: 1rem;
$font-size-root: 15px;
$font-size-base: 0.9375rem;
$small-font-size: 13px;

$body-bg: #f2f6fa;
$body-color: #000;

$grid-gutter-width: 1rem; // 1.5rem !default
$container-padding-x: 1rem; // 1rem !default
$border-radius: 0.25rem;
$border-color: #e6ebf1;

//$lead-font-size: $font-size-base * 1.25;
//$lead-font-weight: 400;
//$small-font-size: 0.875em;
//$small-font-size: 14px;

$line-height-base: 1.46668;
//$line-height-sm: 1.25;
//$line-height-lg: 2;

$font-weight-light: 400;
$font-weight-normal: 400;
$font-weight-bold: 700;
$font-weight-bolder: 700;

$h1-font-size: 1.625rem;
$h2-font-size: 1.25rem;
$h3-font-size: 1.0625rem;
$h4-font-size: 0.9375rem;
$h5-font-size: 0.8125rem;
$h6-font-size: 0.625rem;

$headings-margin-bottom: $spacer / 4;
$headings-font-style: null;
$headings-font-weight: 500;
$headings-line-height: 1.1;
$headings-color: null;

$font-family-monospace: monospace;
// $font-family-sans-serif: 'Roboto', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue',
//   Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
//   'Noto Color Emoji';
//$headings-font-family: $font-family-sans-serif;

// Links
//
// Style anchor elements.

$link-decoration: none;
$link-hover-decoration: none;

//
// Z-index master list
//

$zindex-dropdown: 1000;
$zindex-sticky: 1020;
$zindex-fixed: 1030;
$zindex-modal-backdrop: 20;
$zindex-modal: 1050;
$zindex-popover: 1060;
$zindex-tooltip: 1070;

// Modals

$modal-content-bg: $black;

// Components
//
// Define common padding and border radius sizes and more.

$box-shadow-sm: 0 0.125rem 0.25rem rgba($black, 0.075);
$box-shadow: 0 0.125rem 0.25rem rgba($black, 0.075); // 0 0.5rem 1rem rgba($black, 0.15)
$box-shadow-lg: 0 1rem 3rem rgba($black, 0.175);
$box-shadow-inset: inset 0 1px 2px rgba($black, 0.075);

//
// Buttons
//
// For each of Bootstrap's buttons, define text, background, and border color.

$btn-box-shadow: none;
$btn-active-box-shadow: none;

// Alerts
//
// Define alert colors, border radius, and padding.

$alert-padding-y: $spacer / 2;
$alert-padding-x: $spacer;
$alert-margin-bottom: 0;

$alert-bg-level: -5;
$alert-border-level: -9;
$alert-color-level: 10;
